%meta{charset: "UTF-8"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

%script{src: "//cdn-3.convertexperiments.com/js/10021028-1002446.js", type: "text/javascript"}
%script{type: "application/ld+json"} {"@context":"http://schema.org","@type":"Organization","name":"GitLab","legalName":"GitLab Inc.","url":"http://about.gitlab.com","logo":"https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.png","foundingDate":"2011","founders":[{"@type":"Person","name":"Sid Sijbrandij"},{"@type":"Person","name":"Dmitriy Zaporozhets"}],"address":{"@type":"PostalAddress","streetAddress":"1233 Howard St 2F","addressLocality":"San Francisco","addressRegion":"CA","postalCode":"94103","addressCountry":"USA"},"sameAs":["https://www.facebook.com/gitlab","https://twitter.com/gitlab","https://www.linkedin.com/company/gitlab-com","https://plus.google.com/107491817347842790515/","https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg"]}

%title
  -
  #{current_page.data.title ? current_page.data.title : yield_content(:title)}
  \|
  = data.site.title

= partial "includes/layout/meta"

%link{rel: "alternate", type: "application/atom+xml", title: "Blog", href: "/atom.xml"}

%link{href: "/ico/favicon.ico", rel: "shortcut icon"}
%link{href: "/ico/apple-touch-icon-57x57.png", rel: "apple-touch-icon", sizes: "57x57"}
%link{href: "/ico/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}
%link{href: "/ico/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}
%link{href: "/ico/apple-touch-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144"}
%link{href: "/ico/apple-touch-icon-60x60.png", rel: "apple-touch-icon", sizes: "60x60"}
%link{href: "/ico/apple-touch-icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120"}
%link{href: "/ico/apple-touch-icon-76x76.png", rel: "apple-touch-icon", sizes: "76x76"}
%link{href: "/ico/apple-touch-icon-152x152.png", rel: "apple-touch-icon", sizes: "152x152"}
%link{href: "/ico/apple-touch-icon-180x180.png", rel: "apple-touch-icon", sizes: "180x180"}
%link{href: "/ico/favicon-192x192.png", rel: "icon", sizes: "192x192", type: "image/png"}
%link{href: "/ico/favicon-160x160.png", rel: "icon", sizes: "160x160", type: "image/png"}
%link{href: "/ico/favicon-96x96.png", rel: "icon", sizes: "96x96", type: "image/png"}
%link{href: "/ico/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}
%link{href: "/ico/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}
%meta{content: "#554488", name: "msapplication-TileColor"}
%meta{content: "/ico/mstile-144x144.png", name: "msapplication-TileImage"}
%meta{content: "/ico/browserconfig.xml", name: "msapplication-config"}



%link{rel: "stylesheet", href: font_url(current_page)}
%link{rel: "stylesheet", href: "//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"}

= stylesheet_link_tag :styles, :highlight
- if current_page.data.extra_css
  - current_page.data.extra_css.each do |css_name|
    = stylesheet_link_tag css_name
